# ------------------------------------------------------------------------------
# CricScore Frontend Environment Template
# Copy this file to `apps/frontend/.env` and replace the values.
# WARNING: Do NOT commit `apps/frontend/.env` to version control.
# ------------------------------------------------------------------------------

# AWS API Gateway URLs (These will be automatically appended here by ./infra/scripts/deploy.sh)
VITE_API_URL=https://dummy-api-id.execute-api.us-east-1.amazonaws.com
VITE_WS_URL=wss://dummy-ws-id.execute-api.us-east-1.amazonaws.com/prod

# AWS Cognito Configuration (These will be automatically appended here by ./infra/scripts/deploy.sh)
VITE_COGNITO_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_CLIENT_ID=
VITE_COGNITO_DOMAIN=

# (Optional) Sentry Crash Reporting Data Source Name
VITE_SENTRY_DSN=
