# Rename this file to terraform.tfvars and fill in your details

aws_region          = "us-east-1"
state_bucket_name   = "yourname-cricscore-terraform-state"
dynamodb_table_name = "terraform-state-locking"
domain_name         = "example.com"
